.App {
  font-family: 'Roboto Condensed', sans-serif;
  /* background: linear-gradient(to bottom, rgb(236, 229, 167), rgb(205, 197, 130), rgb(240, 226, 107), rgb(128, 121, 58)); */
  /* background-image: url("./Images/background.png"); */
  color: rgb(74, 95, 74);
}

/* start of css for shimmer */
.shimmer {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.7) 60%, rgba(255, 255, 255, 0) 100%);
  animation: shimmer 5s;
  animation-iteration-count: 1;
  transform: rotate(90deg);
  z-index: -5;
}
@keyframes shimmer {
  0% {transform: translateX(-50%) rotate(45deg);}
  100% {transform: translateX(50%) rotate(45deg);}
}
/* end css for shimmer */

.navigation-bar {
  background-color: rgb(104, 139, 104);
}

a:hover {
  color: black;
}

a:visited {
  color: white;
}

a:link {
   color: white;
}

.home-header {
  text-align: center;
  font-weight: bold;
  color: inherit;
  text-shadow: 1px 1px 1px rgb(201, 254, 197);
}

.home-text {
  text-align: center;
}

.observation-form {
  background:rgb(74, 95, 74);
  color: white;
  margin: auto;
}

.update-form {
  background:rgb(74, 95, 74);
  color: white;
  margin: auto;
}

/* observation button styling not working */

.observation-button {
  background-color: rgb(104, 139, 104);
}

.ways-container {
  background:rgb(74, 95, 74);
}

.ways-header {
  color: white;
  text-align: center;
  font-weight: bold;
}

.ways-list-header {
  color: white;
  text-align: center;
  font-weight: bold;
}

.ways-list {
  color: white;
  font-size: larger;
}

.ways-text {
  color: white;
  text-align: center;
  font-size: large;
}

.conservation-container {
  background:rgb(74, 95, 74);
  color: white;
}

.conservation-header {
  text-align: center;
  font-weight: bolder;
  /* text-shadow: 1px 1px 1px rgb(201, 254, 197); */
}

.conservation-text {
  text-align: center;
  /* text-shadow: 1px 1px 1px rgb(201, 254, 197); */
  font-weight: bolder;
  font-size: large;
}

.conservation-list {
  list-style-type: none;
  text-align: center;
  font-size: x-large;
  text-shadow: 1px 1px 1px rgb(104, 139, 104);
  background:rgb(104, 139, 104, 0.5);
  border: solid;
}

.cons-img {
  background:rgb(128, 121, 58, 0.1);
  max-width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
  border: white;
}

.con-link:hover {
  color: black;
  text-decoration: none;
  font-weight: bolder;
  background: rgba(255, 255, 255, 0.5);
  border: solid;
  padding: 4pt;
}

.con-link:link {
  color: inherit;
  text-decoration: none;
  font-size: 18pt;
  text-shadow: 1px 1px 1px white;
}

.con-link:visited {
  color: inherit;
  text-decoration: none;
  font-size: 18pt;
  text-shadow: 1px 1px 1px white;
}

.form-container {
  background:rgb(74, 95, 74);
  color: white;
  text-align: center;
}

.fieldguide-header {
  text-align: center;
  font-weight: bolder;
  /* text-shadow: 1px 1px 1px rgb(201, 254, 197); */
}

/* Want the table to take up more width too... and for the columns to also have borders, maybe? */
/* .mapContainer {
  display: flex;
  justify-content: center;
  border: white;
} */

.fieldguide-head {
  text-align: center;
  flex: auto;
  background-color: rgb(104, 139, 104);
  color: white;
}

.fieldguide-btn {
  background-color: rgb(104, 139, 104);
  color: white;
}

.link-btn {
  text-decoration: none;
}

.contact-container {
  background:rgb(74, 95, 74);
}

.contact-header {
  text-align: center;
  color: white;
  font-weight: bold;
}

.contact-form-text {
  color: white;
}

.contact-form {
  text-align: center;
}

/* these input and btn css things are not working */
.contact-input [type=text] {
  background-color: rgb(148, 166, 148);
}

.contact-btn {
  background-color: rgb(104, 139, 104);
}

.contact-btn:hover {
  background-color: rgb(148, 166, 148);
}

.definitions-div {
  background:rgb(74, 95, 74);
  color: white;
}

.link {
  background-color: rgb(104, 139, 104);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  background-color: rgb(148, 166, 148);
}

.footer-text {
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: small;
}