.App {
  font-family: 'Shadows Into Light', cursive;
  background: linear-gradient(rgb(236, 229, 167), rgb(205, 197, 130), rgb(240, 226, 107), rgb(128, 121, 58));
  color: rgb(104, 139, 104);
}

.navigation-bar {
  background-color: rgb(104, 139, 104);
  color: white;
  border: white;
}

.nav-list {
  text-align: left;
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: rgb(104, 139, 104);
}

.home-header {
  text-align: center;
  font-weight: bold;
}

.home-text {
  text-align: center;
}

.newobs-btn {
  background-color: rgb(104, 139, 104);
  color: white;
  border: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ways-header {
  text-align: center;
  font-weight: bold;
}

.ways-text {
  text-align: center;
}

.ways-list-header {
  text-align: center;
  font-weight: bold;
}

.conservation-header {
  text-align: center;
  font-weight: bold;
}

.conservation-text {
  text-align: center;
}

.fieldguide-header {
  text-align: center;
  font-weight: bold;
}

.fieldguide-text {
  text-align: center;
}

.fieldguide-table {
  text-align: center;
  flex: auto;
  background-color: rgb(183, 215, 183);
  color: rgb(104, 139, 104);
}

.fieldguide-btn {
  background-color: rgb(148, 166, 148);
  color: white;
}

.footer-text {
  background-color: rgb(104, 139, 104);
  font-family: 'Shadows Into Light', cursive;
  color: white;
}

.contact-header {
  text-align: center;
}

.contact-form {
  text-align: center;
}

.contact-btn {
  background-color: rgb(148, 166, 148);
  color: white;
}